.SideDrawer{
    position: fixed;
    width:280px;
    max-width:280px;
    height: 100%;
    left:0;
    top:0;
    z-index:200;
    background: linear-gradient(#640c05, #b92f2a);
    padding: 32px 16px;
    box-sizing: border-box;
    box-shadow:  6px -2px 21px -10px rgba(0,0,0,0.75);
    transition: transform 0.3s ease-out;


}
@media(min-width: 800px){
    .SideDrawer{
        display: none;
    }
}
.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}
